#messageArea{
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

#messageArea .viewport{
    -fx-background-color: transparent;
}

#messageArea .content{
    -fx-background-color: transparent;
}
