#boardPane{
    -fx-background-image: url("images/board.jpeg");
    -fx-background-size: stretch;
}

#profGreen{
    -fx-background-image: url("images/professorsAndStudents/profgreen.png");
    -fx-background-size: stretch;
}

#profRed{
    -fx-background-image: url("images/professorsAndStudents/profred.png");
    -fx-background-size: stretch;
}

#profYellow{
    -fx-background-image: url("images/professorsAndStudents/profyellow.png");
    -fx-background-size: stretch;
}

#profPink{
    -fx-background-image: url("images/professorsAndStudents/profpink.png");
    -fx-background-size: stretch;
}

#profBlue{
    -fx-background-image: url("images/professorsAndStudents/profblue.png");
    -fx-background-size: stretch;
}

#background{
    -fx-background-image: url("images/backgroundCloud.jpg");
    -fx-background-size: stretch;
}

#flagPane{
    -fx-background-image: url("images/flag1.png");
    -fx-background-size: stretch;
}

#messageForUser{
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

#messageForUser .viewport{
    -fx-background-color: transparent;
}

#messageForUser .content{
    -fx-background-color: transparent;
}

#cloud1{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#cloud2{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#cloud3{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#cloud4{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}

#coinPane {
    -fx-background-image: url(images/expertMode/coin.png);
    -fx-background-size: stretch;
}