#boardPane{
    -fx-background-image: url("images/board.jpeg");
    -fx-background-size: stretch;
}

#profGreen{
    -fx-background-image: url("images/professorsAndStudents/profgreen.png");
    -fx-background-size: stretch;
}

#profRed{
    -fx-background-image: url("images/professorsAndStudents/profred.png");
    -fx-background-size: stretch;
}

#profYellow{
    -fx-background-image: url("images/professorsAndStudents/profyellow.png");
    -fx-background-size: stretch;
}

#profPink{
    -fx-background-image: url("images/professorsAndStudents/profpink.png");
    -fx-background-size: stretch;
}

#profBlue{
    -fx-background-image: url("images/professorsAndStudents/profblue.png");
    -fx-background-size: stretch;
}

#background{
    -fx-background-image: url("images/backgroundCloud.jpg");
    -fx-background-size: stretch;
}

#flagPane{
    -fx-background-image: url("images/flag.png");
    -fx-background-size: stretch;
}


#deckPane {
    -fx-background-color: green;
}

#stackPane {
    -fx-background-color: red;
}

#messageForUser{
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent;
}

#cloud1{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#cloud2{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#cloud3{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#cloud4{
    -fx-background-image: url("images/cloud.png");
    -fx-background-size: stretch;
}
#arch0{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch1{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch2{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch3{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch4{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch5{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch6{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch7{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch8{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch9{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch10{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}
#arch11{
    -fx-background-image: url(images/archi.png);
    -fx-background-size: 200px 130px;
    -fx-background-repeat: no-repeat;
}

#coinPane {
    -fx-background-image: url(images/expertMode/coin.png);
    -fx-background-size: stretch;
}